@use "sass:math";
@import "responsive";

section.section-7 {
  p.subtitle {
    text-align: center;
    margin-bottom: 1.5em;
  }

  .carousel {
    .carousel-track {
      display: flex;
      position: relative;
      max-width: 985px;
      min-height: 300px;
      overflow: hidden;
      margin-bottom: 2em;

      @include mobile {
        margin-bottom: 0.5em;
      }

      .carousel-card {
        padding: 0 1em;
        box-sizing: border-box;
        position: absolute;
        width: 33.33333%;
        transition: 500ms;

        @include tablet {
          width: 50%;
        }
        @include mobile {
          width: 100%;
          padding: 0 0.3em;
        }

        h2 {
          margin-bottom: 1em;
        }

        p {
          font-size: 65%;
          margin-bottom: 1em;

          max-height: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 7;
        }
      }

      &.no-transition .carousel-card {
        transition: none;
      }
    }

    .carousel-dots {
      display: flex;
      justify-content: center;

      .dot-wrapper {
        display: flex;
        height: 1.5em;
        width: 1em;
        align-items: center;
        margin: 0 0.3em;
        cursor: pointer;
        justify-content: center;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);

        &:hover .dot {
          background-color: #000;
        }

        .dot {
          height: 5px;
          width: 5px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: 100ms;

          &.active {
            background-color: #000;
          }
        }
      }
    }
  }
}
