body {
  background-color: #f5f5f5;
  color: #3a3a3a;
  margin: 0;
}

body, button, input, select, textarea {
  font-family: "Playfair Display", serif;
  font-size: 22px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

